name: Test discord

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    outputs:
      run-id: ${{ steps.failure.outputs.RUN_ID }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm ci
      - name: Check style
        run: npm run eslint
      - name: Test Failure
        if: ${{ failure() }}
        id: failure
        run: echo "RUN_ID=${{ job.check_run_id }}" >> $GITHUB_OUTPUT
  post_on_discord:
    if: ${{ always() }}
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    env:
      RUN_ID: ${{ needs.simple_deployment_pipeline.outputs.run-id }}
    steps:
      - name: dispatch failure message
        if: ${{ env.RUN_ID != '' }}
        run: |
          annotations=$(curl https://api.github.com/repos/${{ github.repository }}/check-runs/${{ env.RUN_ID }}/annotations | jq '.[-1] | {path: .path, message: .message}')
          first_error_path=$(echo "$annotations" | jq '.path')
          first_error_message=$(echo "$annotations" | jq '.message')
          last_commit_url=$(curl $(curl $(curl https://api.github.com/repos/${{ github.repository }}/check-runs/${{ env.RUN_ID }} | jq -r '.pull_requests[0].url') | jq -r '.commits_url') | jq -r '.[-1].url')
          echo "commit $last_commit_url broke the build: $first_error_message in $first_error_path"
      - name: dispatch success message
        if: ${{ env.RUN_ID == '' }}
        run: echo "a new version deployed"
